.bookmark-bar {
  background-color: var(--colorAccentBg);
  height: 31px;
  box-shadow: none !important;
  border: none !important;
  margin-left: 40px;
}

.bookmark-bar .observer {
  align-items: center;
  padding-inline: 5px;
  padding-block: 3px;
  gap: 0.5rem;
  border-left: 1px var(--GXborderColor) solid;
}

/* Bookmark text expansion control */
.BookmarkButton BookmarkButton--Active {
  width: auto !important;
}

.bookmarkbarItem {
  border-radius: 0px !important;
  padding: 0px 5px !important;
}

.bookmark-bar button {
  /*background-color: var(--colorAccentBg) !important;*/
  height: 100% !important;
  cursor: pointer;
  padding-inline: 5px !important;
  border-radius: 5px !important;
}

.bookmark-bar button:not(.chevron):before {
  content: unset;
}

.bookmarkbarItem:hover {
  background-color: var(--GXbuttonBgHover) !important;
}

.address-top .toolbar-mainbar:after {
  height: unset;
}
.bookmark-bar.default::before {
  background-color: var(--colorBgAlphaBlur);
  backdrop-filter: var(--backgroundBlur);
  content: " ";
  width: 40px;
  height: 29px;
  position: fixed;
  left: 0;
  z-index: 0;
}

.bookmark-bar button {
  color: var(--GXbookmarkBarButtonFill);
}

.bookmark-bar button svg {
  fill: var(--GXbookmarkBarButtonFill);
}

/* make folders follow other fill */
svg.folder-icon .fill-override.fill-override.fill-override.fill-override > svg {
  fill: var(--GXbookmarkBarButtonFill);
}
