/* Non user configurable variables */
#browser {
  --addressBarHeight: 35px;
  --bookmarkBarHeight: 29px;
  --panelToggleWidth: 10px;
}
#browser:has(#panels-container.left) {
  --arePanelsSetToLeft: 1;
}
#browser:has(#panels-container.right) {
  --arePanelsSetToRight: 1;
}

/* Set color for all buttons */
.button-toolbar,
.button-toolbar > button,
.panel-group button {
  color: var(--GXbuttonFill) !important;
}

/* Set button hover color */
.vivaldi:hover,
.button-toolbar > button:hover {
  background-color: var(--GXbuttonBgHover) !important;
}

/* Match menu button width to panel width */
#titlebar button.vivaldi {
  width: var(--GXpanelWidth);
}

/* Stylize Vivaldi menu button */
.vivaldi svg > path:nth-child(1) {
  fill: var(--GXbuttonFill) !important;
}
.vivaldi svg > path:nth-child(2) {
  fill: var(--colorBg) !important;
}
.vivaldi span.burger-icon {
  opacity: 1 !important;
}

/* Stylize window control buttons */
#browser.win .window-buttongroup {
  fill: var(--GXbuttonFill);
  color: var(--GXbuttonFill);
}
#browser.win .window-buttongroup button:hover:not(.window-close) {
  background-color: var(--GXbuttonBgHover) !important;
}

/* Give way to make address bar buttons a different color */
.mainbar .button-toolbar > button {
  color: var(--GXaddressBarButtonFill) !important;
}

/* Make the internal bookmark favicons color configurable */
.bookmark-bar button {
  color: var(--GXbookmarkBarButtonFill);
}
.bookmark-bar button svg {
  fill: var(--GXbookmarkBarButtonFill);
}
/* make folders/svgs follow other fill */
svg.folder-icon .fill-override.fill-override.fill-override.fill-override > svg {
  fill: var(--GXbookmarkBarButtonFill);
}

/* Make tab notifications and other button badges follow corner rounding setting */
.button-badge {
  border-radius: var(--radiusHalf);
}

#titlebar .vivaldi .vivaldi-v > svg > path {
  d: path(
    "M4.77 3.04c-.5 0-.94 0-1.14.02a2.6 2.6 0 0 0-2.1 3.9l2.5 4.32c1.36 2.4 2.72 4.73 4.1 7.08.46.89 1.42 1.5 2.45 1.39l.83-.04c.31 0 .51-.02.7-.03h.06l.23-.01a2.5 2.5 0 0 0 1.95-1.05l.02-.02c2.25-3.86 4.47-7.75 6.7-11.62h.01c.16-.3.27-.61.31-.94a2.58 2.58 0 0 0-2.88-2.92 2.58 2.58 0 0 0-2.01 3.65v.01a3.1 3.1 0 0 1-.58 3.74v.01h-.01c-1.28 1.27-3.73 1.02-4.7-.5-1.07-1.8-2.1-3.63-3.17-5.44l.02.05a2.62 2.62 0 0 0-2.19-1.58l-.18-.01h-.92zm12.45.02a2.92 2.92 0 0 0-2.33.89c-.34.4-.45.92-.5 1.43-.06.56.08 1.1.33 1.6.45.87.34 1.94-.09 2.81a4.4 4.4 0 0 1-.92 1.3 2.22 2.22 0 0 0 1.72-1.13 3.7 3.7 0 0 0 .32-2.3 3.8 3.8 0 0 0-.45-1.3 1.8 1.8 0 0 1-.13-.85c.04-.36.12-.71.3-1.03.5-.9 1.2-1.12 2.16-1.37a3.16 3.16 0 0 0-.41-.05zm-11.6.78h.12c.68.03 1.32.48 1.6 1.11v.02l.02.03c1.07 1.8 2.1 3.63 3.18 5.44v.01a3.92 3.92 0 0 0 5.91.66 3.86 3.86 0 0 0 .75-4.71v.01c-.5-1 .28-2.4 1.4-2.5h.01l.02-.01c1.08-.18 2.17.93 1.98 2.01v.02c-.03.23-.1.46-.22.66-2.24 3.86-4.45 7.74-6.7 11.58-.66.96-2.4.93-2.95-.13h-.01v-.01C8.48 14.18 6.28 10.3 4.05 6.45c-.56-.98.16-2.42 1.28-2.57h.03c.09-.03.18-.03.26-.04zm-1.82.01c-.74.78-1 2-.44 2.99 2.23 3.85 4.42 7.72 6.67 11.57.1.2.24.39.4.54a1.77 1.77 0 0 1-1.6-.96h-.01v-.01a604.9 604.9 0 0 1-4.1-7.1l-2.5-4.33a1.78 1.78 0 0 1 1.46-2.7h.12z"
  ) !important;
}

/* Detect if the theme has transparency on the tab bar */
#browser[style^="--colorTabBar: transparent"] {
  --isThemeTransparent: 1;
}
