/* Non user configurable variables */
#browser {
  --addressBarHeight: 35px;
  --bookmarkBarHeight: 29px;
  --panelToggleWidth: 10px;
}
#browser:has(#panels-container.left) {
  --arePanelsSetToLeft: 1;
}
#browser:has(#panels-container.right) {
  --arePanelsSetToRight: 1;
}

/* Set color for all buttons */
.button-toolbar,
.button-toolbar > button,
.panel-group button {
  color: var(--GXbuttonFill) !important;
}

/* Set button hover color */
.vivaldi:hover,
.button-toolbar > button:hover {
  background-color: var(--GXbuttonBgHover) !important;
}

/* Match menu button width to panel width */
#titlebar button.vivaldi {
  width: var(--GXpanelWidth);
}

/* Stylize Vivaldi menu button */
.vivaldi svg > path:nth-child(1) {
  fill: var(--GXbuttonFill) !important;
}
.vivaldi svg > path:nth-child(2) {
  fill: var(--colorBg) !important;
}
.vivaldi span.burger-icon {
  opacity: 1 !important;
}

/* Stylize window control buttons */
#browser.win .window-buttongroup {
  fill: var(--GXbuttonFill);
  color: var(--GXbuttonFill);
}
#browser.win .window-buttongroup button:hover:not(.window-close) {
  background-color: var(--GXbuttonBgHover) !important;
}

/* Give way to make address bar buttons a different color */
.mainbar .button-toolbar > button {
  color: var(--GXaddressBarButtonFill) !important;
}

/* Make the internal bookmark favicons color configurable */
.bookmark-bar button {
  color: var(--GXbookmarkBarButtonFill);
}
.bookmark-bar button svg {
  fill: var(--GXbookmarkBarButtonFill);
}
/* make folders/svgs follow other fill */
svg.folder-icon .fill-override.fill-override.fill-override.fill-override > svg {
  fill: var(--GXbookmarkBarButtonFill);
}

/* Make tab notifications and other button badges follow corner rounding setting */
.button-badge {
  border-radius: var(--radiusHalf);
}
