/* Non user configurable variables */
#browser {
  --addressBarHeight: 35px;
  --bookmarkBarHeight: 29px;
  --panelToggleWidth: 10px;
}
#browser:has(#panels-container.left) {
  --arePanelsSetToLeft: 1;
}
#browser:has(#panels-container.right) {
  --arePanelsSetToRight: 1;
}

/* Set color for all buttons */
.button-toolbar,
.button-toolbar > button,
.panel-group button {
  color: var(--GXbuttonFill) !important;
}

/* Set button hover color */
.vivaldi:hover,
.button-toolbar > button:hover {
  background-color: var(--GXbuttonBgHover) !important;
}

/* Match menu button width to panel width */
#titlebar button.vivaldi {
  width: var(--GXpanelWidth);
}

/* Stylize Vivaldi menu button */
.vivaldi svg > path:nth-child(1) {
  fill: var(--GXbuttonFill) !important;
}
.vivaldi svg > path:nth-child(2) {
  fill: var(--colorBg) !important;
}
.vivaldi span.burger-icon {
  opacity: 1 !important;
}

/* Stylize window control buttons */
#browser.win .window-buttongroup {
  fill: var(--GXbuttonFill);
  color: var(--GXbuttonFill);
}
#browser.win .window-buttongroup button:hover:not(.window-close) {
  background-color: var(--GXbuttonBgHover) !important;
}

/* Give way to make address bar buttons a different color */
.mainbar .button-toolbar > button {
  color: var(--GXaddressBarButtonFill) !important;
}

/* Make the internal bookmark favicons color configurable */
.bookmark-bar button {
  color: var(--GXbookmarkBarButtonFill);
}
.bookmark-bar button svg {
  fill: var(--GXbookmarkBarButtonFill);
}
/* make folders/svgs follow other fill */
svg.folder-icon .fill-override.fill-override.fill-override.fill-override > svg {
  fill: var(--GXbookmarkBarButtonFill);
}

/* Make tab notifications and other button badges follow corner rounding setting */
.button-badge {
  border-radius: var(--radiusHalf);
}

/* Give stylized Vivaldi V */
#titlebar .vivaldi .vivaldi-v > svg > path {
  d: path(
    "M4.62 2.94h-.84c-.23 0-.38 0-.5.02A2.7 2.7 0 0 0 1.1 7l2.5 4.32c1.35 2.4 2.7 4.73 4.08 7.08a2.62 2.62 0 0 0 2.56 1.44h-.04l1.06-.03.76-.03.36-.01c.9.06 1.85-.3 2.4-1.1l.01-.01.01-.02c2.26-3.86 4.48-7.75 6.72-11.61v-.01a2.68 2.68 0 0 0-2.67-4.01 2.68 2.68 0 0 0-2.1 3.8v.01h.01a3.01 3.01 0 0 1-.56 3.62l-.02.01c-1.23 1.22-3.6.98-4.53-.49-1.07-1.79-2.1-3.62-3.17-5.43l.03.06a2.7 2.7 0 0 0-2.58-1.65l-.5-.01h-.81zm11.67.08c-.5.03-.88.2-1.22.44a2.78 2.78 0 0 0-1.17 2.1 2.45 2.45 0 0 0 .26 1.27l.02.04a3.98 3.98 0 0 1 .39 1.99c-.11.78-.34 1.3-.8 1.98.59-.14 1.02-.4 1.24-.73.25-.37.41-.78.48-1.21a4.1 4.1 0 0 0-.02-1.3c-.07-.42-.56-1.54-.43-1.23.11.24-.16-.49-.15-.75.02-.26.06-.51.16-.76.27-.66.83-1.51 1.77-1.82a2.72 2.72 0 0 0-.53-.02zm-10.28.92c.66 0 1.31.43 1.58 1.05l.01.03.02.03c1.07 1.8 2.1 3.64 3.18 5.45a4.02 4.02 0 0 0 6.07.69 3.96 3.96 0 0 0 .77-4.82c-.47-.94.27-2.27 1.32-2.36h.03c1.05-.18 2.1.95 1.86 1.98V6l-.01.01c-.04.18-.1.37-.2.53-2.23 3.86-4.43 7.73-6.68 11.58-.62.9-2.27.86-2.78-.12l-.01-.02C8.91 14.12 6.71 10.25 4.48 6.4c-.52-.91.16-2.28 1.2-2.42h.04c.1-.03.19-.04.28-.04zm-2.22 0h.12a2.67 2.67 0 0 0-.3 2.95c2.24 3.86 4.44 7.74 6.7 11.59l-.02-.02c.07.14.16.26.25.38l-.37.01h-.04c-.61.07-1.26-.32-1.57-.9v-.02c-1.38-2.36-2.74-4.7-4.1-7.1L1.96 6.5a1.67 1.67 0 0 1 1.37-2.54h.01l.45-.02z"
  ) !important;
}
/* Looks a bit better slightly stretched */
#titlebar .vivaldi .vivaldi-v > svg {
  transform: scaleY(1.04);
}
